In [23]:
from google.cloud import bigquery
from google.cloud import language
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = 'C:\\Users\\bronner\\Downloads\\ADATTC-fb24a0224f16.json'#
# get json by following (Setting up authentication)
# https://cloud.google.com/bigquery/docs/reference/libraries

In [24]:
bigquery_client = bigquery.Client()

In [28]:
query_job = bigquery_client.query("""
    SELECT Year FROM `gdelt-bq.gdeltv2.events` LIMIT 10""")
results = query_job.result().to_dataframe()

In [29]:
results

   Year
0  2016
1  2016
2  2016
3  2016
4  2016
5  2016
6  2016
7  2016
8  2016
9  2016

In [33]:
query_job = bigquery_client.query(
    """SELECT COUNT(EventBaseCode) as nb_protests FROM `gdelt-bq.gdeltv2.events` WHERE EventBaseCode LIKE '14%'""")
results = query_job.result().to_dataframe()

In [34]:
results

   nb_protests
0      3918010