In [3]:
from google.cloud import bigquery
import pandas as pd
import numpy as np
import os
import json
import folium
import matplotlib.pyplot as plt
from IPython.core.display import display, HTML
from sklearn.linear_model import LinearRegression, LogisticRegression

In [4]:
DATA_PATH = "data/"

In this notebook we import dataset and make them ready to use:

#### TO SUM UP: HERE ARE THE DATAFRAME :

 ###### press_freedom_df : press freedom for each country from 2002  to 2018
 ###### corruption_df : corruption id  for each country from 2005 to 2017
 ###### gdp_df : gdp  for each country from 2005 to 2017
######  gini_df: gini for each country from 2005 to 2017
######  hdi_df :Human Development Index  for each country from 2005 to 2017 from 2005 to 2017

In [149]:
hdi_df = pd.read_csv(DATA_PATH + "Human_Development_Index_(HDI).csv", encoding = "ISO-8859-1")

In [150]:
hdi_df.head(5)

,HDI Rank (2017),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,168,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.437,0.453,0.463,0.471,0.482,0.487,0.491,0.493,0.494,0.498
1,68,Albania,0.645,0.626,0.610,0.613,0.619,0.632,0.641,0.641,...,0.724,0.729,0.741,0.752,0.767,0.771,0.773,0.776,0.782,0.785
2,85,Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.608,0.617,...,0.709,0.719,0.729,0.736,0.740,0.745,0.747,0.749,0.753,0.754
3,35,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.831,0.830,0.828,0.827,0.849,0.850,0.853,0.854,0.856,0.858
4,147,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.502,0.522,0.520,0.535,0.543,0.554,0.564,0.572,0.577,0.581

We keep the data only from 2005 to 2017, so we drop all the column from 1990 to 2005

In [151]:
hdi_df = hdi_df.drop(hdi_df.iloc[:,2:17], axis = 1)
hdi_df.head(5)

,HDI Rank (2017),Country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,168,Afghanistan,0.408,0.417,0.429,0.437,0.453,0.463,0.471,0.482,0.487,0.491,0.493,0.494,0.498
1,68,Albania,0.704,0.711,0.720,0.724,0.729,0.741,0.752,0.767,0.771,0.773,0.776,0.782,0.785
2,85,Algeria,0.692,0.698,0.707,0.709,0.719,0.729,0.736,0.740,0.745,0.747,0.749,0.753,0.754
3,35,Andorra,0.819,0.829,0.829,0.831,0.830,0.828,0.827,0.849,0.850,0.853,0.854,0.856,0.858
4,147,Angola,0.455,0.471,0.492,0.502,0.522,0.520,0.535,0.543,0.554,0.564,0.572,0.577,0.581

In [166]:
gini_df = pd.read_csv(DATA_PATH + "GINI_per_country_worldbank.csv", encoding = "ISO-8859-1")

In [167]:
gini_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,42.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
gini_df = gini_df.drop(gini_df.iloc[:,2:49], axis = 1)

In [171]:
gini_df.head(20)

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,NaN,NaN,NaN,42.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,30.6,NaN,NaN,30.0,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Argentina,ARG,47.7,46.6,46.3,44.5,43.9,43.0,42.3,41.2,41.0,41.4,NaN,42.4,NaN
8,Armenia,ARM,36.0,29.7,31.2,29.2,28.0,30.0,29.4,29.6,30.6,31.5,32.4,32.5,NaN
9,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,AUS,NaN,NaN,NaN,35.4,NaN,34.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Austria,AUT,28.7,29.6,30.6,30.4,31.5,30.3,30.8,30.5,30.8,30.5,30.5,NaN,NaN
13,Azerbaijan,AZE,16.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Burundi,BDI,NaN,33.4,NaN,NaN,NaN,NaN,NaN,NaN,38.6,NaN,NaN,NaN,NaN
15,Belgium,BEL,29.3,28.1,29.2,28.4,28.5,28.4,28.1,27.5,27.7,28.1,27.7,NaN,NaN
16,Benin,BEN,NaN,NaN,NaN,NaN,NaN,NaN,43.4,NaN,NaN,NaN,47.8,NaN,NaN
17,Burkina Faso,BFA,NaN,NaN,NaN,NaN,39.8,NaN,NaN,NaN,NaN,35.3,NaN,NaN,NaN
18,Bangladesh,BGD,33.2,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,NaN,NaN,32.4,NaN
19,Bulgaria,BGR,NaN,35.7,36.1,33.6,33.8,35.7,34.3,36.0,36.6,37.4,NaN,NaN,NaN

In [176]:

gdp_df = pd.read_csv(DATA_PATH + "GDP_growth_world_bank.csv", encoding = "ISO-8859-1")
gdp_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-6.881302,-5.653502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.611368,21.020649,8.433290,6.113685,14.434741,3.900575,2.690522,1.310040,2.366712,2.595542
2,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,13.817098,2.412910,3.452875,3.873331,5.177594,6.842717,4.703971,2.999747,-0.813494,0.721699
3,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.760854,3.352610,3.710058,2.550161,1.419968,1.000755,1.774369,2.218752,3.352159,3.841364
4,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-8.590004,-3.690654,-5.358826,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.889124,1.873197

In [177]:
gdp_df = gdp_df.drop(gdp_df.iloc[:,2:49], axis = 1)
gdp_df.head(5)

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,0.380391,2.355119,-3.654626,-6.881302,-5.653502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,11.175270,5.554138,13.740205,3.611368,21.020649,8.433290,6.113685,14.434741,3.900575,2.690522,1.310040,2.366712,2.595542
2,Angola,AGO,20.907027,18.989035,23.189597,13.817098,2.412910,3.452875,3.873331,5.177594,6.842717,4.703971,2.999747,-0.813494,0.721699
3,Albania,ALB,5.720820,5.431013,5.900000,3.760854,3.352610,3.710058,2.550161,1.419968,1.000755,1.774369,2.218752,3.352159,3.841364
4,Andorra,AND,7.396983,4.536353,0.040011,-8.590004,-3.690654,-5.358826,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.889124,1.873197

In [185]:


corruption_df = pd.read_csv(DATA_PATH + "DataCorruptionPerceptionIndex2000_2017.csv", encoding = "ISO-8859-1")
corruption_df.head(5)

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,New Zealand,94,94,95,95,96,96,96,94,93,94,93,95,90.0,91.0,91.0,91.0,90.0,89
1,Denmark,98,95,95,95,95,95,95,94,93,93,93,94,90.0,91.0,92.0,91.0,90.0,88
2,Finland,100,99,97,97,97,96,96,94,90,89,92,94,90.0,89.0,89.0,90.0,89.0,85
3,Norway,91,86,85,88,89,89,88,87,79,86,86,90,85.0,86.0,86.0,88.0,85.0,85
4,Switzerland,86,84,85,88,91,91,91,90,90,90,87,88,86.0,85.0,86.0,86.0,86.0,85

In [186]:
corruption_df = corruption_df.drop(corruption_df.iloc[:,1:6], axis = 1)
corruption_df.head(5)

,Country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,New Zealand,96,96,94,93,94,93,95,90.0,91.0,91.0,91.0,90.0,89
1,Denmark,95,95,94,93,93,93,94,90.0,91.0,92.0,91.0,90.0,88
2,Finland,96,96,94,90,89,92,94,90.0,89.0,89.0,90.0,89.0,85
3,Norway,89,88,87,79,86,86,90,85.0,86.0,86.0,88.0,85.0,85
4,Switzerland,91,91,90,90,90,87,88,86.0,85.0,86.0,86.0,86.0,85

For press_freedom_df, we took the data from wikipedia,
https://en.wikipedia.org/wiki/Press_Freedom_Index
we copied the table to a text file: 'parse.txt' 
We created a small script to parse and convert these data to dataframe.

In [109]:


columns_data=['Country','2018', '2017', '2016', '2015', '2014','2013', '2012', '2011', '2010', '2009','2008', '2007', '2006', '2005', '2004','2003', '2002']
press_freedom_df =  pd.DataFrame(columns = columns_data, index = range(0,200))

In [110]:
filepath = DATA_PATH+'parse.txt'  
#press_freedom_df
index = []
values = []


with open(filepath) as fp:  
    line = fp.readline()
    column = 0
    cnt = 0
    line = fp.readline()


    while cnt <= 179: #179 counrty in the file
        #print(line.strip())
        
        
        if(line[0] == ' '):
            cnt+=1
            column = 0
            values.append(line.split('\t')[0])
            line = fp.readline()
        else:
            while(line[0] != ' '):
                
                column += 1
                values.append(line.split()[0])
                
                line = fp.readline()
           
            row = pd.Series( (v for v in values) )
            values = []
            
            
            for i in range(len(row)):
                if(i == 0):
                    press_freedom_df['Country'].iloc[cnt] = row.iloc[0]
                else:
                    press_freedom_df[str(2019-i)].iloc[cnt] = row.iloc[i]

In [111]:
press_freedom_df # let''s remove these NAN row that are at the beguining and at the end

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Norway,7.63,7.6,8.79,7.75,6.52,6.52,-10.00,0.00,0.00,1.50,0.75,2.00,0.50,0.50,0.50,0.50,NaN
2,Sweden,8.31,8.27,12.33,9.47,8.98,9.23,-5.50,0.00,0.00,3.00,1.50,4.00,2.00,2.00,1.50,1.50,NaN
3,Netherlands,10.01,11.28,8.76,9.22,6.46,6.48,-9.00,0.00,1.00,4.00,3.50,0.50,0.50,0.50,0.50,0.50,NaN
4,Finland,10.26,8.92,8.59,7.52,6.40,6.38,-10.00,0.00,0.00,2.00,1.50,0.50,0.50,0.50,0.50,0.50,NaN
5,Switzerland,11.27,12.13,11.76,13.85,10.47,9.94,-6.20,0.00,1.00,3.00,3.00,2.50,0.50,0.50,2.50,4.25,NaN
6,Jamaica,11.33,12.73,12.45,11.18,10.90,9.88,-3.00,7.67,4.75,4.88,8.63,5.50,7.50,4.17,3.33,NaN,NaN
7,Belgium,13.16,12.75,14.18,11.98,12.80,12.94,-2.00,4.00,2.50,3.00,1.50,4.00,4.00,4.00,1.17,3.50,NaN
8,New Zealand,13.62,13.98,10.01,10.06,8.55,8.38,-5.33,1.50,3.00,3.00,4.17,5.00,2.00,0.67,2.83,NaN,NaN
9,Denmark,13.99,10.36,8.89,8.24,7.43,7.08,-5.67,2.50,0.00,3.50,2.00,5.00,0.50,0.50,1.00,3.00,NaN
10,Costa Rica,14.01,11.93,11.10,12.26,12.23,12.08,-2.25,8.08,8.00,5.10,6.50,6.67,8.50,7.63,3.83,4.25,NaN
11,Austria,14.04,13.47,13.18,10.85,10.01,9.40,-8.00,0.50,3.00,3.50,4.25,4.50,2.50,3.25,2.75,7.50,NaN
12,Estonia,14.08,13.55,14.31,11.19,9.63,9.26,-9.00,2.00,0.50,2.00,1.00,2.00,1.50,2.00,2.50,NaN,NaN
13,Iceland,14.10,13.03,15.30,13.87,8.50,8.49,-7.00,0.00,2.00,1.50,0.75,0.50,0.50,0.50,0.50,0.50,NaN
14,Portugal,14.17,15.77,17.27,17.11,17.73,16.75,5.33,12.36,8.00,4.00,2.00,3.00,4.83,4.50,5.17,1.50,NaN
15,Germany,14.39,14.97,14.80,11.47,10.23,10.24,-3.00,4.25,3.50,4.50,5.75,5.50,4.00,2.00,1.33,1.50,NaN
16,Ireland,14.59,14.08,12.40,11.20,10.87,10.06,-4.00,2.00,0.00,2.00,2.00,0.50,0.50,0.50,2.83,1.00,NaN
17,Luxembourg,14.72,14.72,14.43,13.61,6.70,6.68,-7.00,4.00,4.00,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Canada,15.28,16.53,15.26,10.99,10.99,12.69,-5.67,7.00,3.70,3.33,4.88,4.50,4.50,3.33,1.83,0.75,NaN
19,Australia,15.46,16.02,17.84,17.03,16.91,15.24,4.00,5.38,3.13,6.25,8.79,9.00,6.50,9.50,9.25,3.50,NaN
20,Uruguay,15.56,17.43,15.88,15.94,16.08,15.92,4.25,11.75,7.63,8.33,11.75,13.75,9.75,10.00,4.00,6.00,NaN
21,Suriname,16.44,16.07,16.70,18.20,18.20,18.19,-1.00,11.50,10.60,6.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,American Samoa,16.69,16.41,18.80,22.32,22.02,23.84,17.00,33.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Ghana,18.41,17.95,17.95,15.50,16.29,17.27,11.00,8.00,6.00,7.50,9.00,8.50,15.00,13.50,8.75,23.00,NaN
24,Latvia,19.63,18.62,17.38,18.12,21.10,22.89,15.00,8.50,3.00,3.00,3.50,3.00,2.50,1.00,2.25,NaN,NaN
25,Cyprus,19.85,19.79,18.26,16.52[b],14.45,13.83,-3.00,13.40,5.50,7.50,14.00,7.50,5.50,22.00,20.83,NaN,NaN
26,Namibia,20.24,17.08,15.15,12.50,12.50,12.50,-2.00,7.00,9.00,5.50,8.50,6.00,5.50,10.00,11.00,8.00,NaN
27,Slovakia,20.26,15.51,13.26,11.66,11.39,13.25,0.00,11.50,11.00,3.00,1.00,2.50,0.75,0.50,2.50,NaN,NaN
28,South Africa,20.39,20.12,21.92,22.06,23.19,24.56,12.00,12.00,8.50,8.00,13.00,11.25,6.50,5.00,3.33,7.50,NaN
29,Cape Verde,20.39,18.02,19.82,20.69,14.32,14.33,-6.00,8.00,11.00,8.00,14.00,11.50,6.00,8.75,8.25,13.75,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Equatorial Guinea,66.47,66.47,66.47,66.23,67.95,67.20,86.00,79.00,65.50,59.25,65.25,48.00,44.00,46.25,44.75,42.75,NaN
171,Cuba,68.90,71.75,70.23,70.21,70.92,71.64,98.83,78.00,94.00,88.33,96.17,95.00,87.00,106.83,97.83,90.25,NaN
172,Djibouti,70.77,70.54,70.90,71.04,70.34,67.40,83.50,30.50,31.00,41.50,50.25,33.00,37.00,55.00,35.50,31.25,NaN
173,Sudan,71.13,73.56,72.53,72.34,71.88,70.06,100.75,85.33,54.00,42.00,55.75,48.13,44.00,44.25,45.75,36.00,NaN
174,Vietnam,75.05,73.96,74.27,72.63,72.36,71.78,114.00,75.75,81.67,86.17,79.25,67.25,73.25,86.88,89.17,81.25,NaN
175,China,78.29,77.66,80.96,73.55,72.91,73.07,136.00,84.67,84.50,85.50,89.00,94.00,83.00,92.33,91.25,97.00,NaN
176,Syria,79.22,81.49,81.35,77.29,77.04,78.53,138.00,91.50,78.00,59.63,66.00,63.00,55.00,67.50,67.50,62.83,NaN
177,Turkmenistan,84.20,84.19,83.44,80.83,80.81,79.14,140.67,95.33,107.00,95.50,103.75,98.50,93.50,99.83,82.83,91.50,NaN
178,Eritrea,84.24,84.24,83.92,84.86,84.83,84.83,142.00,105.00,115.50,97.50,114.75,97.50,99.75,93.25,91.50,83.67,NaN
179,North Korea,88.87,84.98,83.76,83.25,81.96,83.90,141.00,104.75,112.50,96.50,108.75,109.00,109.00,107.50,99.50,97.50,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
press_freedom_df = press_freedom_df.drop(0)
press_freedom_df = press_freedom_df.head(179)
press_freedom_df

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
1,Norway,7.63,7.6,8.79,7.75,6.52,6.52,-10.00,0.00,0.00,1.50,0.75,2.00,0.50,0.50,0.50,0.50,NaN
2,Sweden,8.31,8.27,12.33,9.47,8.98,9.23,-5.50,0.00,0.00,3.00,1.50,4.00,2.00,2.00,1.50,1.50,NaN
3,Netherlands,10.01,11.28,8.76,9.22,6.46,6.48,-9.00,0.00,1.00,4.00,3.50,0.50,0.50,0.50,0.50,0.50,NaN
4,Finland,10.26,8.92,8.59,7.52,6.40,6.38,-10.00,0.00,0.00,2.00,1.50,0.50,0.50,0.50,0.50,0.50,NaN
5,Switzerland,11.27,12.13,11.76,13.85,10.47,9.94,-6.20,0.00,1.00,3.00,3.00,2.50,0.50,0.50,2.50,4.25,NaN
6,Jamaica,11.33,12.73,12.45,11.18,10.90,9.88,-3.00,7.67,4.75,4.88,8.63,5.50,7.50,4.17,3.33,NaN,NaN
7,Belgium,13.16,12.75,14.18,11.98,12.80,12.94,-2.00,4.00,2.50,3.00,1.50,4.00,4.00,4.00,1.17,3.50,NaN
8,New Zealand,13.62,13.98,10.01,10.06,8.55,8.38,-5.33,1.50,3.00,3.00,4.17,5.00,2.00,0.67,2.83,NaN,NaN
9,Denmark,13.99,10.36,8.89,8.24,7.43,7.08,-5.67,2.50,0.00,3.50,2.00,5.00,0.50,0.50,1.00,3.00,NaN
10,Costa Rica,14.01,11.93,11.10,12.26,12.23,12.08,-2.25,8.08,8.00,5.10,6.50,6.67,8.50,7.63,3.83,4.25,NaN
11,Austria,14.04,13.47,13.18,10.85,10.01,9.40,-8.00,0.50,3.00,3.50,4.25,4.50,2.50,3.25,2.75,7.50,NaN
12,Estonia,14.08,13.55,14.31,11.19,9.63,9.26,-9.00,2.00,0.50,2.00,1.00,2.00,1.50,2.00,2.50,NaN,NaN
13,Iceland,14.10,13.03,15.30,13.87,8.50,8.49,-7.00,0.00,2.00,1.50,0.75,0.50,0.50,0.50,0.50,0.50,NaN
14,Portugal,14.17,15.77,17.27,17.11,17.73,16.75,5.33,12.36,8.00,4.00,2.00,3.00,4.83,4.50,5.17,1.50,NaN
15,Germany,14.39,14.97,14.80,11.47,10.23,10.24,-3.00,4.25,3.50,4.50,5.75,5.50,4.00,2.00,1.33,1.50,NaN
16,Ireland,14.59,14.08,12.40,11.20,10.87,10.06,-4.00,2.00,0.00,2.00,2.00,0.50,0.50,0.50,2.83,1.00,NaN
17,Luxembourg,14.72,14.72,14.43,13.61,6.70,6.68,-7.00,4.00,4.00,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Canada,15.28,16.53,15.26,10.99,10.99,12.69,-5.67,7.00,3.70,3.33,4.88,4.50,4.50,3.33,1.83,0.75,NaN
19,Australia,15.46,16.02,17.84,17.03,16.91,15.24,4.00,5.38,3.13,6.25,8.79,9.00,6.50,9.50,9.25,3.50,NaN
20,Uruguay,15.56,17.43,15.88,15.94,16.08,15.92,4.25,11.75,7.63,8.33,11.75,13.75,9.75,10.00,4.00,6.00,NaN
21,Suriname,16.44,16.07,16.70,18.20,18.20,18.19,-1.00,11.50,10.60,6.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,American Samoa,16.69,16.41,18.80,22.32,22.02,23.84,17.00,33.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Ghana,18.41,17.95,17.95,15.50,16.29,17.27,11.00,8.00,6.00,7.50,9.00,8.50,15.00,13.50,8.75,23.00,NaN
24,Latvia,19.63,18.62,17.38,18.12,21.10,22.89,15.00,8.50,3.00,3.00,3.50,3.00,2.50,1.00,2.25,NaN,NaN
25,Cyprus,19.85,19.79,18.26,16.52[b],14.45,13.83,-3.00,13.40,5.50,7.50,14.00,7.50,5.50,22.00,20.83,NaN,NaN
26,Namibia,20.24,17.08,15.15,12.50,12.50,12.50,-2.00,7.00,9.00,5.50,8.50,6.00,5.50,10.00,11.00,8.00,NaN
27,Slovakia,20.26,15.51,13.26,11.66,11.39,13.25,0.00,11.50,11.00,3.00,1.00,2.50,0.75,0.50,2.50,NaN,NaN
28,South Africa,20.39,20.12,21.92,22.06,23.19,24.56,12.00,12.00,8.50,8.00,13.00,11.25,6.50,5.00,3.33,7.50,NaN
29,Cape Verde,20.39,18.02,19.82,20.69,14.32,14.33,-6.00,8.00,11.00,8.00,14.00,11.50,6.00,8.75,8.25,13.75,NaN
30,Liechtenstein,20.49,20.31,18.36,17.67,7.02,7.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Singapore,50.95,51.1,52.96,45.87,44.29,43.43,61.00,47.50,45.00,49.00,56.00,51.50,50.67,57.00,47.33,NaN,NaN
151,Eswatini,51.46,51.27,52.37,47.28,46.76,46.76,67.00,57.50,52.50,50.50,54.50,40.50,35.00,31.00,37.50,29.00,NaN
152,Brunei,51.48,53.72,53.85,36.76,35.45,35.45,56.20,51.00,63.50,38.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Democratic Republic of the Congo,51.60,52.67,50.97,44.31,44.64,41.66,67.67,51.83,53.50,51.25,50.50,51.00,57.33,51.50,38.50,40.75,NaN
154,Belarus,52.59,52.43,54.32,47.98,47.82,48.35,99.00,57.00,59.50,58.33,63.63,57.00,61.33,54.10,52.00,52.17,NaN
155,Rwanda,52.90,54.11,54.61,56.57,56.57,55.46,81.00,81.00,64.67,50.00,58.88,41.00,38.00,37.25,34.25,37.50,NaN
156,Turkey,53.50,52.98,50.76,44.16,45.87,46.56,70.00,49.25,38.25,22.75,31.25,25.00,25.00,37.25,35.00,33.50,NaN
157,Kazakhstan,54.41,54.01,54.55,53.46,54.94,55.08,77.50,68.50,49.67,35.33,41.63,41.00,36.17,44.17,42.50,42.00,NaN
158,Burundi,55.26,55.78,54.10,42.93,40.50,38.02,57.75,28.88,29.00,21.00,43.40,39.83,23.00,19.00,26.25,24.50,NaN
159,Iraq,56.56,54.03,54.35,47.76,45.44,44.67,75.36,45.58,53.30,59.38,67.83,66.83,67.00,58.50,37.50,79.00,NaN
160,Egypt,56.72,55.78,54.45,50.17,51.89,48.66,97.50,43.33,51.38,50.25,58.00,46.25,52.00,43.50,34.25,34.50,NaN
161,Libya,56.79,56.81,57.89,45.99,39.84,37.86,77.50,63.50,64.50,61.50,66.50,62.50,88.75,65.00,60.00,72.50,NaN
162,Azerbaijan,59.73,56.4,57.89,58.41,52.87,47.73,87.25,56.38,53.50,53.63,55.40,47.00,51.00,49.67,34.50,34.50,NaN
163,Iran,60.71,65.12,66.52,72.32,72.29,73.40,136.60,94.56,104.14,80.33,96.50,90.88,89.17,78.30,89.33,48.25,NaN
164,Uzbekistan,60.84,66.11,61.15,61.14,61.01,60.39,83.00,71.50,67.67,62.70,74.88,71.00,66.50,52.13,61.50,45.00,NaN
165,Bahrain,60.85,58.88,54.86,58.69,58.26,62.75,125.00,51.38,36.50,21.17,38.00,28.00,38.75,52.50,35.17,23.00,NaN
166,Yemen,62.23,65.8,67.07,66.36,67.26,69.22,101.00,82.13,83.38,59.00,56.67,54.00,46.25,48.00,41.83,34.75,NaN
167,Somalia,63.04,65.95,65.35,72.31,73.19,73.59,88.33,66.00,77.50,58.00,71.50,51.25,59.00,43.50,45.00,NaN,NaN
168,Saudi Arabia,63.13,66.02,59.72,59.41,58.30,56.88,83.25,61.50,76.50,61.75,59.75,76.00,66.00,79.17,71.50,62.50,NaN
169,Laos,66.41,66.41,71.58,71.25,71.22,67.99,89.00,80.50,92.00,70.00,75.00,67.50,66.50,64.33,94.83,89.00,NaN
170,Equatorial Guinea,66.47,66.47,66.47,66.23,67.95,67.20,86.00,79.00,65.50,59.25,65.25,48.00,44.00,46.25,44.75,42.75,NaN
171,Cuba,68.90,71.75,70.23,70.21,70.92,71.64,98.83,78.00,94.00,88.33,96.17,95.00,87.00,106.83,97.83,90.25,NaN
172,Djibouti,70.77,70.54,70.90,71.04,70.34,67.40,83.50,30.50,31.00,41.50,50.25,33.00,37.00,55.00,35.50,31.25,NaN
173,Sudan,71.13,73.56,72.53,72.34,71.88,70.06,100.75,85.33,54.00,42.00,55.75,48.13,44.00,44.25,45.75,36.00,NaN
174,Vietnam,75.05,73.96,74.27,72.63,72.36,71.78,114.00,75.75,81.67,86.17,79.25,67.25,73.25,86.88,89.17,81.25,NaN
175,China,78.29,77.66,80.96,73.55,72.91,73.07,136.00,84.67,84.50,85.50,89.00,94.00,83.00,92.33,91.25,97.00,NaN
176,Syria,79.22,81.49,81.35,77.29,77.04,78.53,138.00,91.50,78.00,59.63,66.00,63.00,55.00,67.50,67.50,62.83,NaN
177,Turkmenistan,84.20,84.19,83.44,80.83,80.81,79.14,140.67,95.33,107.00,95.50,103.75,98.50,93.50,99.83,82.83,91.50,NaN
178,Eritrea,84.24,84.24,83.92,84.86,84.83,84.83,142.00,105.00,115.50,97.50,114.75,97.50,99.75,93.25,91.50,83.67,NaN
179,North Korea,88.87,84.98,83.76,83.25,81.96,83.90,141.00,104.75,112.50,96.50,108.75,109.00,109.00,107.50,99.50,97.50,NaN

TO SUM UP:
HERE ARE THE DATAFRAME ready to use :

#### press_freedom_df
#### corruption_df
#### gdp_df
#### gini_df
#### hdi_df