In [43]:
from google.cloud import bigquery
from google.cloud import language
import pandas as pd
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = 'C:\\Users\\antho\\Downloads\\ADAproj-02b470a29ee4.json'#
# get json by following (Setting up authentication)
# https://cloud.google.com/bigquery/docs/reference/libraries

In [2]:
bigquery_client = bigquery.Client()

# Getting the main tables:

- event codes table
- Protests for leadership change
- Protests for rights
- country codes table

### Event codes:

In [47]:
event_codes = pd.read_csv("eventcodes.csv", encoding = "ISO-8859-1")

In [69]:
event_codes[event_codes['EVENTDESCRIPTION'].str.contains('leadership change')]

     CAMEOEVENTCODE                                   EVENTDESCRIPTION
223            1411                  Demonstrate for leadership change
228            1421        Conduct hunger strike for leadership change
233            1431  Conduct strike or boycott for leadership change
238            1441      Obstruct passage to demand leadership change
243            1451  Engage in violent protest for leadership change

In [63]:
event_codes[event_codes['EVENTDESCRIPTION'].str.contains('for rights')]

     CAMEOEVENTCODE                      EVENTDESCRIPTION
27              243                     Appeal for rights
109             833          Accede to demands for rights
183            1233             Reject request for rights
225            1413                Demonstrate for rights
230            1423      Conduct hunger strike for rights
235            1433  Conduct strike or boycott for rights
245            1453  Engage in violent protest for rights

### Leadership change protests:

In [64]:
query_leadership_change_protests = bigquery_client.query(
    """SELECT COUNT(EventCode) as nb_protests FROM `gdelt-bq.gdeltv2.events` 
    WHERE EventCode LIKE '1411' OR EventCode LIKE '1421' OR EventCode LIKE '1431' 
    OR EventCode LIKE '1441' OR EventCode LIKE '1451'""")
leadership_change_protests_df = query_leadership_change_protests.result().to_dataframe()

In [65]:
leadership_change_protests_df.head()

   nb_protests
0        14750

### Protests for rigths:

In [66]:
query_rights_protests = bigquery_client.query(
    """SELECT COUNT(EventCode) as nb_protests FROM `gdelt-bq.gdeltv2.events` 
    WHERE EventCode LIKE '1413' OR EventCode LIKE '1423' 
    OR EventCode LIKE '1433' OR EventCode LIKE '1443' OR EventCode LIKE '1453'""")
rights_protests_df = query_rights_protests.result().to_dataframe()

In [67]:
rights_protests_df.head()

   nb_protests
0          630

### Country codes table:

In [13]:
query_job = bigquery_client.query(
    """SELECT  as nb_protests FROM `gdelt-bq.extra.countryinfo`""")
results = query_job.result().to_dataframe()

In [14]:
results.head()

   nb_protests
0          245